<!-- hw/templates/hw/about.html -->
{% extends 'hw/base.html' %}

{% block content %}
    <h1> About this page</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea repudiandae aperiam voluptas rerum, laudantium cum ut excepturi asperiores vel dolorem consectetur quaerat eos et repellendus velit, aliquam laborum voluptate aut?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aperiam impedit fugit illo blanditiis nemo dolore! Aspernatur unde quidem optio praesentium debitis laudantium cumque minima magnam quod totam, aut voluptas!</p>
{% endblock %}