<!-- hw/templates/hw/home.html -->

<html>
    <head>
        <title> Hello World </title>
    </head>
    <body>
        <h1> Hello World!</h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea repudiandae aperiam voluptas rerum, laudantium cum ut excepturi asperiores vel dolorem consectetur quaerat eos et repellendus velit, aliquam laborum voluptate aut?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aperiam impedit fugit illo blanditiis nemo dolore! Aspernatur unde quidem optio praesentium debitis laudantium cumque minima magnam quod totam, aut voluptas!</p>
        
        <footer>
            The current time is {{time}}. <br>
            This page has been brought to you by the letters
            {{letter1}} and {{letter2}}, and by the number {{number}}.
        </footer>
    </body>
</html>