<!-- restaurant/templates/restaurant/base.html -->
 {% load static %}

 <html>

    <head>
        <title> McDonald's </title>
        <link rel="stylesheet" href="{% static 'restaurant_styles.css' %}">
    </head>

    <body>

        <div class="heading-div">
            <h1 class="mc-heading">McDonald's</h1>

            <!-- Navagation menu -->
            <nav>
                <li><a href="{% url 'main_page' %}">Main</a></li>
                <li><a href="{% url 'order_page' %}">Order</a></li>
            </nav>
        </div>

        <div class="main-div">
            {% block content %}
            {% endblock content %}
        </div>

        <footer>
            Page created by alvenie@bu.edu. <br>
            The current time is {{time}}.
        </footer>
    </body>

    
 </html>