<!-- restaurant/template/restaurant/main.html -->
{% extends 'restaurant/base.html' %}

{% block content %}

    <h1> Welcome! </h1>
    
    <table>
        <tr>
            <td>Located in</td>
            <td>North Quincy</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>275 Hancock St, Quincy, MA 02171</td>
        </tr>
        <tr>
            <td>Hours</td>
            <td>Open 24 hours</td>
        </tr>
    </table>
    <img src="https://i.ibb.co/RpK3nzLk/mcdonalds.jpg" alt="mcdonalds image">
    <p> Welcome to McDonalds, here we got the best fries and nuggets!</p>

{% endblock content %}