<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
    <h2> Welcome </h2>
    <h4> Welcome to my Quote of the Day application! </h4>
    <p> This application displays quotes and images of <a href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank">Albert Einstein</a>.</p>
    <p class="about-p"> Albert Einstein (14 March 1879 to 18 April 1955) was a German-born theoretical physicist 
        who is best known for developing the theory of relativity. Einstein also made important 
        contributions to quantum theory. His mass energy equivalence formula E = mc2, which 
        arises from special relativity, has been called "the world's most famous equation". He 
        received the 1921 Nobel Prize in Physics for his services to theoretical physics, and especially 
        for his discovery of the law of the photoelectric effect.</p>
{% endblock %} 
