<!-- mini_insta/base.html -->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 9/25/2025 -->
<!-- Base template for mini_insta app -->

{% load static %}

<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta.css' %}">
    </head>

    <body>
        
        <div class="header">

            <a href ="{% url 'show_all_profiles' %}">
                <h1>Mini Insta</h1>
            </a>

        </div>

        {% if request.user.is_authenticated %}
            Logged in as: {{ request.user }}
        {% else %}
            Not logged in.
        {% endif %}

        <!-- substitute in the specific content here -->
        {% block content %}
        {% endblock %}

        <footer>
            <nav>
                <!-- This link is always available -->
                <a href="{% url 'show_all_profiles' %}">View All Profiles</a>
                
                <!-- These links will only be displayed on views that pass a single 'profile' object -->
                {% if request.user.is_authenticated %}
                    {% if profile and user == profile.user %}
                        <a href="{% url 'show_feed' profile.pk %}" title="Home Feed"><i class="fas fa-home"></i> Feed</a>
                        <a href="{% url 'search' profile.pk %}" title="Search"><i class="fas fa-search"></i> Search</a>
                        <a href="{% url 'create_post_form' profile.pk %}">Create New Post</a>
                    {% endif %}
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Logout" class="btn btn-logout">
                    </form>
                {% else %}
                    <form action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="submit" value="Login" class="btn btn-login">
                    </form>
                {% endif %}
            </nav>

        </footer>
    </body>
</html>
