<!-- mini_insta/create_post_form.html -->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 10/03/2025 -->
<!-- Create post form template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<div class="profile-detail">
    <h1>Create a new Post</h1>
    <hr>
</div>

<div class="post-div">

    <!-- form to handle submission -->
    <form action="{% url 'create_post_form' profile.pk %}" method = "POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <div class="form-actions">
            <button type="submit" class="btn">Create Post</button>
            
            <!-- cancel button brings the user back to profile page -->
            <a href="{% url 'show_profile' profile.pk %}" class="btn btn-cancel">Cancel</a>
        </div>
    </form>
</div>



{% endblock %}