<!-- mini_insta/create_post_form.html -->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 10/03/2025 -->
<!-- Create post form template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<div class="profile-detail">
    <h1>Create a new Post</h1>
    <hr>
</div>

<div class="post-div">

    <!-- form for creating the post -->
    <form action="{% url 'create_post_form'      %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            
            <tr>
                <th><label for="id_images">Images:</label></th>
                <td>
                    <input type="file" name="images" id="id_images" multiple>
                </td>
            </tr>
        </table>
        <div class="form-actions">
            <button type="submit" class="btn">Create Post</button>
            
            <a href="{% url 'show_profile' profile.pk %}" class="btn btn-cancel">Cancel</a>
        </div>
    </form>
</div>



{% endblock %}
