<!-- templates/blog/login.html -->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 10/23/2025 -->
<!-- login template for mini_insta app -->

{% extends 'mini_insta/base.html'%}

{% block content %}
    <div class="profile-detail">
        <h1>Login to our Mini Insta</h1>
        <hr>
    </div>

    <div class="post-div">
        <form action="{% url 'login' %}" method="POST">

            {% csrf_token %}

            <table>
                {{ form.as_table }}
            </table>

            <div class="form-actions">
                <button type="submit" class="btn">Login</button>
            </div>
            <!-- This basic login form works, but after login it assumed
            the existence of a page at /registration/profile, which does not exist. -->
            
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% else %}
                <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
            {% endif %}
        </form>

        <hr>
        Don't have an account?
        <a href="{% url 'register' %}">Register here</a>
    </div>
{% endblock %}