<!--mini_insta/show_profile.html-->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 10/3/2025 -->
<!-- Show post template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="post-detail">

    <div class="profile-info">
        <img src="{{ post.profile.profile_image_url }}" alt="profile" class="profile-avatar">
        <div class="profile-meta">
            <a href="{% url 'show_profile' post.profile.pk %}" class="display-a">
                <h2>@{{ post.profile.display_name }}</h2>
            </a>
            <p>{{ post.profile.username }}</p>
            <div>
                <a href="{% url 'update_post' post.pk %}" class="update-a">Update Post</a>
            </div>
            <div>
                <a href="{% url 'delete_post' post.pk %}" class="update-a">Delete Post</a>       
            </div>
        </div>
    </div>

    <!-- for loop to access all the photos associated with the post -->
    <div class="post-main">

        <div>
            {% for photo in post.get_all_photos %}

                <img src="{{ photo.get_image_url }}" alt="Image for post" class="post-img">
            
            {% empty %}

                <img src="https://i.postimg.cc/9Q2RqNVW/no-img-avail.jpg" alt="No image available" class="post-img">

            {% endfor %}
        </div>

        <div>
            <h2 class="caption-p">
                {{ post.caption }} <br> {{ post.timestamp }}
            </h2>
            <hr>

            {% with likes=post.get_likes %}
                {% if likes %}
                    <p>
                        Liked by 
                        <strong>
                            <a href="{% url 'show_profile' likes.first.profile.pk %}" class="display-a">
                                @{{ likes.first.profile.display_name }}
                            </a>
                        </strong>
                        {% with other_likes=likes.count|add:"-1" %}
                            {% if other_likes > 0 %}
                                and <strong>{{ other_likes }} other{{ other_likes|pluralize }}</strong>
                            {% endif %}
                        {% endwith %}
                    </p>
                {% endif %}
            {% endwith %}

            {% for comment in post.get_all_comments %}

                <div> 
                    <p>
                        <a href="{% url 'show_profile' comment.profile.pk %}" class="display-a">
                            <strong>@{{comment.profile.display_name}}:</strong>
                        </a>{{comment.text}}
                    </p>
                </div>

            {% endfor %}
        </div>

    </div>

</main>
{% endblock %}
