<!--mini_insta/show_profile.html-->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 9/26/2025 -->
<!-- Show profile template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{% block content %}


<main class="profile-detail">

    <!-- Main profile info section -->
    <div class="profile-info">

        <img src="{{ profile.profile_image_url }}" alt="profile" class="profile-avatar">

        <div class="profile-meta">
            <h2>@{{ profile.display_name }}</h2>
            <p>{{ profile.username }}</p>
        </div>
    </div>

    <!-- Bio and stats section -->
    <div class="profile-bio">
        <p class="bio-text">
            {{ profile.bio_text|linebreaksbr }}
        </p>
        <hr>
        <div class="profile-data">

            <p class="stats">
                <strong>Posts:</strong> TBD
            </p>

            <p class="stats">
                <strong>Followers:</strong> TBD
            </p>

            <p class="stats">
                <strong>Following:</strong> TBD
            </p>

        </div>
        <div class="post-grid">
            <!-- loop to get all post from the profile -->
            {% for post in profile.get_all_posts %}
                <!-- get the first photo of the post -->

                <div class="post-item">
                    {% with photo=post.get_all_photos|first %}
                        <!-- checks if the photo exists and there is a url -->
                        {% if photo and photo.image_url %}
                            <a href="{% url 'show_post' post.pk %}">
                                <img src="{{photo.image_url}}" alt="First image of the post" class="post-img">
                            </a>
                        {% else %}
                            <a href="{% url 'show_post' post.pk %}">
                                <img src="https://i.postimg.cc/9Q2RqNVW/no-img-avail.jpg" alt="No image available" class="post-img">
                            </a>
                        {% endif %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>  
</main>


{% endblock %}