<!--mini_insta/show_profile.html-->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 10/3/2025 -->
<!-- Show post template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="post-detail">

    <div class="profile-info">
        <img src="{{ post.profile.profile_image_url }}" alt="profile" class="profile-avatar">
        <div class="profile-meta">
            <h2>@{{ post.profile.display_name }}</h2>
            <p>{{ post.profile.username }}</p>
        </div>
    </div>

    <!-- for loop to access all the photos associated with the post -->
    <div class="post-main">

        <div class="post-img">
            {% for photo in post.get_all_photos %}

                <!-- if the photo exists and there is an image url associated with it display it -->
                {% if photo and photo.image_url %}
                    <div>
                        <img src="{{photo.image_url}}" alt="Image for post" class="post-img">
                    </div>
                
                <!-- else display image not found if there is a blank url -->
                {% else %}
                    <div>
                        <img src="https://i.postimg.cc/9Q2RqNVW/no-img-avail.jpg" alt="No image available" class="post-img">
                    </div>

                {% endif %}

                <!-- if the for loop returns empty then display photo not found -->
                {% empty %}

                    <div>
                        <img src="https://i.postimg.cc/9Q2RqNVW/no-img-avail.jpg" alt="No image available" class="post-img">
                    </div>

            {% endfor %}
        </div>

        <p class="caption-p">
            {{ post.caption }} <br> {{ post.timestamp }}
        </p>

    </div>

</main>
{% endblock %}