<!--mini_insta/show_followers.html-->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 10/16/2025 -->
<!-- Show followers template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<div class="profile-detail">
    <h1>Followers of <a href="{% url 'show_profile' profile.pk %}" class="follow-a">@{{ profile.display_name }}</a></h1>
    <hr>
</div>

<div class="follower-grid">
    {% for follower in profile.get_followers %}
        <div class="post-div">
            <a href="{% url 'show_profile' follower.pk %}">
                <img src="{{ follower.profile_image_url }}" alt="Avatar for {{ follower.display_name }}" class="follower-grid-avatar">
            </a>
            <a href="{% url 'show_profile' follower.pk %}" class="follow-a">
                <span>@{{ follower.display_name }}</span>
            </a>
        </div>
    {% empty %}
        <p class="no-followers-message">This profile has no followers yet.</p>
    {% endfor %}
    </div>

{% endblock %}
