<!-- mini_insta/show_all_profiless.html -->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 9/25/2025 -->
<!-- Show all template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{%block content%}

<div class="header-profiles">
    <h1>Showing all profiles</h1>
</div>

<main class="grid-container">
    <!-- Scriplet code for a for loop -->
    {% for profile in profiles %}
        <div class="profile">
            <h2>@{{ profile.display_name }}</h2>
            <p>{{ profile.username}}</p>
            <img src="{{ profile.profile_image_url }}" alt="">
        </div>

    {% endfor %}
</main>

{% endblock %}