<!--mini_insta/show_profile.html-->
<!-- Chonghao Chen --> 
<!-- alvenie@bu.edu --> 
<!-- 10/3/2025 -->
<!-- Show post template for mini_insta app -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="post-detail">

    <div class="profile-info">
        <img src="{{ post.profile.profile_image_url }}" alt="profile" class="profile-avatar">
        <div class="profile-meta">
            <a href="{% url 'show_profile' post.profile.pk %}" class="display-a">
                <h2>@{{ post.profile.display_name }}</h2>
            </a>
            <p>{{ post.profile.username }}</p>
        </div>
    </div>

    <!-- for loop to access all the photos associated with the post -->
    <div class="post-main">

        <div>
            {% for photo in post.get_all_photos %}

                <img src="{{ photo.get_image_url }}" alt="Image for post" class="post-img">
            
            {% empty %}

                <img src="https://i.postimg.cc/9Q2RqNVW/no-img-avail.jpg" alt="No image available" class="post-img">

            {% endfor %}
        </div>

        <p class="caption-p">
            {{ post.caption }} <br> {{ post.timestamp }}
        </p>

    </div>

</main>
{% endblock %}
